.titulo{
	font-size: 50px;
	text-align: center;
	text-transform: uppercase;
}
h1 p{
	color: red;
}
p{
	font-size: 30px;
	text-align: center;
	color: green;
}
input{
	width: 100%;
	height: 30px;
	border-radius: 2px;
	box-shadow: 3px 2px 8px;
	padding: 5px 10px;
}
.quadrado{
	width: 400px;
	margin: 0 auto;
}
#formulario{
	text-align: center;
	padding: 20px;
	margin-top: 20px;
}
#caixa-form{
	width: 400px;
	margin: 0 auto;
}
#botao{
	box-shadow: 3px 2px 8px;
	border-radius: 2px;
	margin-top: 20px;
	width: 200px;
	height: 50px;
}